<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <form action='' method="get">
        <label for="search"> Entrer le nom ou le NSS du patient: </label>
        <input type="text" name="recherche" id="search">
        <button type="submit"> Démarrer la recherche </button>
        <h4> Résultats de la recherche : </h4>
        <ul>
            {% for patient in patients %}
                <li>Nom du patient: {{ patient.nom_patient }}, Prénom: {{ patient.prenom_patient }}, NSS: {{ patient.NSS }}, Adresse: {{ patient.Adresse }}, Numéro de téléphone: {{ patient.num_tel_patient }}, Date de naissance: {{ patient.date_naissance }} </li>
            {% endfor %}
        </ul>
    </form>
</body>
</html>
